<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
</head>
<style>
        @font-face {
    font-family: LexendExa;
    src: url(https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap);
    }

    div {
    font-family: LexendExa;
    }

</style>

<body style="
margin: 0; 
padding: 0; 
font-family: Verdana, Geneva, Tahoma, sans-serif; 
background-color: black; 
display: flex; 
justify-content: center;
align-items: center;
color: white;
">
    <table style=" background: #F2EDE6; display: flex; flex-direction: column; justify-content: space-around;
    width: 600px;
    height: 900px;">

        <tr style="display: flex;
    
        justify-content: center;"> 
            <td>
                <p style="color: #000; text-align: center; font-family: LexendExa; font-size: 32px; font-style: normal; font-weight: 400; line-height: normal;">
                    Olá, Fernanda! <br>
                    Temos novidades para você.
                </p>
            </td>
        </tr>

        <tr style="display: flex; justify-content: space-around;">
            <td>
                <img style="width: 240px; height: 323.478px;" src="https://www.neurascapes.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdcigzqcd7%2Fimage%2Fupload%2Fv1691648603%2Fneuravision-mini%2Fzoypqy9x7vz1p8utgjjd.jpg&w=1920&q=75" alt="" srcset="">
            </td>

            <td style="width: 240px; height: 360px; background: #3F82A5; display: flex; flex-direction: column; padding-left: 10px; margin: 0;">
                <h1 style="color: #FFF; font-family: 'Poppins', sans-serif; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: 0.32px; text-transform: capitalize;">
                    Coleção Nova na Área:
                </h1>

                <p style="color: #FFF; font-family: 'Poppins', sans-serif; font-size: 11px; font-style: normal; font-weight: 400; line-height: 16px; letter-spacing: 0.66px; text-transform: capitalize; width: 201px; height: 331px; flex-shrink: 0; ">
                    Descubra nosso estilo outono inspirado na beleza e cores vibrantes do verão! Nossa coleção combina o calor das tonalidades ensolaradas com a elegância clássica da temporada outonal. <br> <br>
                    De vestidos leves a acessórios radiantes, cada peça captura o espírito revigorante das estações. Renove seu guarda-roupa com a harmonia perfeita entre o frescor do verão e a sofisticação do outono, garantindo um visual único e cheio de estilo para qualquer ocasião.     
                </p>
            </td>
        </tr>

        <tr style="display: flex; justify-content: space-around; align-items: end;">
            <td style="width: 240px; height: 360px; background: #3F82A5; display: flex; flex-direction: column; padding-left: 10px;">
                <h1 style="color: #FFF; font-family: 'Poppins', sans-serif; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: 0.32px; text-transform: capitalize;">
                    Outono com cara de Verão:
                </h1>
                <p style="color: #FFF; font-family: 'Poppins', sans-serif; font-size: 12px; font-style: normal; font-weight: 400; line-height: 16px; letter-spacing: 0.66px; text-transform: capitalize; width: 201px; height: 331px; flex-shrink: 0;">
                    Descubra nosso estilo outono inspirado na beleza e cores vibrantes do verão! Nossa coleção combina o calor das tonalidades ensolaradas com a elegância clássica da temporada outonal. <br> <br>
                    De vestidos leves a acessórios radiantes, cada peça captura o espírito revigorante das estações. Renove seu guarda-roupa com a harmonia perfeita entre o frescor do verão e a sofisticação do outono, garantindo um visual único e cheio de estilo para qualquer ocasião.
                </p>
            </td>
            <td>
                <img style="width: 240px; height: 323.478px;" src="https://www.neurascapes.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdcigzqcd7%2Fimage%2Fupload%2Fv1691648603%2Fneuravision-mini%2Fud9wvr0ulbnozsbe0tlz.jpg&w=1920&q=75" alt="" srcset="">
            </td>
        </tr>
    </table>
    
</body>

</html>