<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
</head>

<style>
    @font-face {
    font-family: LexendExa;
    src: url(https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap);
    }

    div {
    font-family: LexendExa;
    }

</style>

<body style=" margin: 0; padding: 0; ">
    <table style="width: 100%; text-align: center; background: #F2EDE6;">
        <tr> 
            <td style="padding: 20px;">
                <p style="color: #000; font-family: LexendExa;  font-size: 32px; font-style: normal; font-weight: 400; line-height: normal; margin: 0;">
                    Olá, {{name}}!<br>Temos novidades para você.
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <img style="width: 100%; height: auto; max-width: 600px; margin: 20px 0;" src="https://www.neurascapes.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdcigzqcd7%2Fimage%2Fupload%2Fv1691648603%2Fneuravision-mini%2Fzoypqy9x7vz1p8utgjjd.jpg&w=1920&q=75" alt="">
            </td>
        </tr>

        <tr>
            <td style="background: #3F82A5; color: #FFF; padding: 20px; margin-bottom: 20px; align-items: center;">
                <h1 style="font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 700; line-height: normal; letter-spacing: 0.32px; text-transform: capitalize; margin: 0 0 10px;">
                    Coleção Nova chegando na Área:
                </h1>
                <p style="font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; letter-spacing: 0.66px; text-transform: capitalize; margin: 0;">
                    Descubra nosso estilo outono inspirado na beleza e cores vibrantes do verão! Nossa coleção combina o calor das tonalidades ensolaradas com a elegância clássica da temporada outonal.
                </p>
            </td>
        </tr>


        <tr>
            <td style="background: #3F82A5; color: #FFF; padding: 20px; margin-bottom: 20px; text-align: center;">
                <h1 style="font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 700; line-height: normal; letter-spacing: 0.32px; text-transform: capitalize; margin: 0 0 10px;">
                    Outono com cara de Verão:
                </h1>
                <p style="font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; letter-spacing: 0.66px; text-transform: capitalize; margin: 0;">
                    Descubra nosso estilo outono inspirado na beleza e cores vibrantes do verão! Nossa coleção combina o calor das tonalidades ensolaradas com a elegância clássica da temporada outonal.
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <img style="width: 100%; height: auto; max-width: 600px; margin: 20px 0;" src="https://www.neurascapes.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdcigzqcd7%2Fimage%2Fupload%2Fv1691648603%2Fneuravision-mini%2Fud9wvr0ulbnozsbe0tlz.jpg&w=1920&q=75" alt="">
            </td>
        </tr>

    </table>
</body>

</html>
